body { 
  background-color: #394753;
  font-family: Verdana, Arial, sans-serif;
  margin: 0;	
 }
#wrapper { 
  width: 920px !important;
  padding: 0;
  border: 0;
  margin: 0 auto;
  background: #fff;
  color: #000;
  position: relative; 
  z-index: 0;
 }
#header {
  width: 100%;
  height: 80px;
  padding: 0;
  margin: 0;
  border: 0;	   
  position:relative;
  top:0;
  background: #fff;
 }
#header span { 
  position: absolute; 
  top: 0; 
  font: normal 29px Georgia, serif; 
  margin: 20px;
  padding: 0;
  color: #394753; 
 }
#menu { 
  background-color: #394753;
  width: 100%;
  height: 26px;
  margin: 0;
  color: #fff;
  position: relative;
  z-index: 1;
  border:0;
 }
#menu ul {
  margin: 0; 
  padding: 0; 
  list-style: none; 
  float:right; 
  background:#fff;
  position:relative;
  right:2px;
  border-right:1px solid #000;

 }
#menu ul li { 
  margin: 0; 
  padding: 0;
  float:left;
  text-align: center; 
}
#menu ul li a { 
  margin: 0;  
  display: block;
  padding: 5px 15px; 
  background-color: #394753; 
  color: #fff;
  border:1px solid #000;
  border-right: 0; 
  font: bold 11px Tahoma, sans-serif;
 }
#menu ul li a:hover { 
  background: #fff; 
  color: #000; 
 }
#feature { 
  width: 100%;
  height: 378px;
  margin: 1px 0;
  text-align: center;
  position: relative;
  z-index:0; 
  clear: right; 
 }
#feature h2 { 
  position: absolute; 
  left: 140px;
  font-family: stereofidelic, sans-serif;
  color: #999;
  font-size: 34pt;
  padding: 0; 
  margin:80px 0 0 0; 
 }
#content { 
  position: relative;
  width: 100%;
  background: #fff;
  margin: 0px;
}
.gt { margin:5px 17px; }
.clear { clear: left; height:15px; }
.tile {
  margin: 8px;
  width: 31%;
  background: #f9f9f9;
  padding: 0;
  font: normal 11px Tahoma,sans-serif;
  color: #444;	   
  border: 1px solid #aaa;
  text-align: left;
  position:relative;
  float:left; 
  display:inline; 
 }
.tile p { margin: 0 5px 5px; }
.tile h2 { margin: 5px 5px 0; font: bold 11px Tahoma, sans-serif;}
.tile .image {  position:relative;float:right;top:-5px;left:5px; right:5px; text-align:right;color:#bbb;margin:0; width:75px; height:75px; background:#eee; border:1px solid #bbb; }
#footer  { 
  position: relative;
  width:100%;
  background: #fff;
  padding:0;
  margin: 0px;
  text-align: center;
 }
#footer ul { 
  margin: 0; 
  padding: 0; 
  list-style: none; 
 }
#footer ul li { 
  margin: 0; 
  padding: 0 5px; 
  display: inline; 
  text-align: center; 
 }
#footer ul li a { 
  margin: 0; 
  padding:0;
  border: 0; 
  font: bold 11px Tahoma, sans-serif;
  color: #900;
 }
#footer ul li a:hover { color: #000; }
#copyright { 
  margin-top: 10px;
  height:20px;
  background-color: #394753;
  font: normal 11px Tahoma, Arial, sans-serif;
  color: #ffffff;
  padding: 5px 0 0 0;
  text-align: center;  
 }
a{
color:#7A8EA1
}
.tile .image img {
	width: 75px;
	height: 75px;
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
.owl-buttons {
	display: none;
}